[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]



[packages]

numpy = "*"
scipy = "*"
attrs = "*"


[requires]

# NOTE: pipenv doesn't support python version bounds; see
# https://github.com/pypa/pipenv/issues/1050
#
# python_version = ">3.5"
